<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
    <time datetime="<%= date_xml(post.date) %>">
        {{moment-format date 'YYYY-MM-DD'}}
    </time>
    <h1>
        <a href="/{{ path }}">
            {{ title }}
        </a>
    </h1>
    {{{ teaser }}}
    <div class="more">
        <a href="/{{ path }}" class="btn btn-primary btn-sm">Weiter lesen</a>
    </div>
</article>
