<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
    <time datetime="<%= date_xml(post.date) %>">
        <%= date(post.date, null) %>
    </time>
    <h1>
        <a href="<%- url_for(post.path) %>">
            <%- post.title %>
        </a>
    </h1>
    <% if(true === is_post()){ %>
        <%- post.content %>
    <% } else { %>        
        <%- post.teaser %>
    <% } %>
</article>