<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="/impressum/"><i class="fa fa-creative-commons"></i> <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></a><br>
                Just a bunch of files generated with <a href="http://hexo.io/" target="_blank">hexo</a>
            </div>            
        </div>  
    </div>
</footer>

<script>
    var Samisdat = {};
    Samisdat.Conway = {};
</script>
<%- js('bower_components/jquery/jquery.min.js') %>
<%- js('bower_components/tether/javascripts/tether.min.js') %>
<%- js('bower_components/bootstrap/javascripts/bootstrap.min.js') %>
<%- js('bower_components/highlightjs/highlight.pack.min.js') %>

<% if (true === is_staging('development')){ %>
    <%- js('js/lib/rAF.js') %>
    <%- js('js/conway/patterns.js') %>
    <%- js('js/conway/cell.js') %>
    <%- js('js/conway/population.js') %>
    <%- js('js/conway/generation.js') %>
    <%- js('js/conway/observation.js') %>
    <%- js('js/conway/canvas.js') %>
    <%- js('js/app.js') %>
    
    <script type='text/javascript' id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.2.js'><\/script>".replace("HOST", location.hostname));
    //]]></script>
<% } else { %>        
    <%- js('js/conway.js') %>
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.samisdat.org"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.samisdat.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//piwik.samisdat.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
<% } %>