<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="alternate" href="/rss.xml" title="<%= config.title %>" type="application/rss+xml">
  <link rel="icon" href="/favicon.ico">
 
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700%7CSource+Sans+Pro:400,500,700' rel='stylesheet' type='text/css'>
  <% if (true === is_staging('development')){ %>
        <%- css('css/conway.css') %>
  <% } else { %>        
        <%- css('css/conway.min.css') %>
  <% } %>
 
</head>