<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
    <h1>
        <a href="<%- url_for(post.path) %>">
            <%- post.title %>
        </a>
    </h1>        
    <%- post.content %>
  

</article>